<% if @tweets.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
    <% @tweets.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
</ul>
<% end %>
<%= form_for @tweets , url: {action: :create} do |f| %>
    <%= render "create" %>
<% end %>